/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

:root {
    --primary: #4E54BF;
    --table_odd: #f8f8f8;
    --table_even: #eff0fa;
    --dark: black;
    --light: white;
}

/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

*{
    font-family: 'Dosis', sans-serif;
}

body{
    margin-top: 10vh;
    /* background-color: #D7D7D9; */
}

section {
    max-width: 60vw;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

.header_title{
    padding-bottom: 20px;
    border-bottom: 2px solid var(--dark);
    font-size: 3em;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                   SEARCH                                   */
/* -------------------------------------------------------------------------- */

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


.search input[type=text]{
    width: 50%;
    padding: 5px 10px;
    border-radius: 5px;
}

.search button{
    background: var(--primary);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
}


/* -------------------------------------------------------------------------- */
/*                                    TABLE                                   */
/* -------------------------------------------------------------------------- */


table { 
    border: 1px solid var(--dark);
    border-collapse: collapse; 
}

table tr:first-child{
    background-color: var(--primary);
}

tr:nth-child(even) {
    background: var(--table_even);
}

tr:nth-child(odd) {
    background: var(--table_odd);
}

table td,
table th { 
    border-left: 1px solid var(--dark); 
    text-align: left;
    padding: 5px 10px;
}

table td:first-child,
table th:first-child{ 
    border-left: none; 
}

table th {
    color: var(--light);
}

table th:nth-of-type(1) {
    width: 65%;
}

table th:nth-of-type(2) {
    width: 25%;
}

table th:nth-of-type(3){
    width: 10%;
}

table td:nth-of-type(3){
    text-align: center;
}

table button{
    background: none;
    border:none;
}

table span{
    padding: 2px 10px;
    background: var(--primary);
    border-radius: 5px;
    color: var(--light);
    margin-right: 5px;
}